//vòng lặp đơn( extend .text-?xl)
// dùng size cho cú pháp trên nhe anh;
$size: 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $size in $size {
  .text-#{$size}xl {
    font-size: $size * 10px;
  }
}

// background color
$bg-c1-dark: #000;
$bg-c1-white: #fff;
$bg-c1-primary: #189a46;
$bg-c1-purple: rgb(147 107 232 / 5%);

// color
$text-c2-light: white;
$text-c2-red: #f53626;
$text-c2-black: black;
$text-c2-primary: #189a46;
$text-c2-grey: grey;
// font-size
$text-s: 12px;
$text-m: 14px;
$text-l: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-25xl: 25px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
// font-weight
$fw-3: 300;
$fw-4: 400;
$fw-6: 600;

@mixin text($fz, $fw, $color) {
  font-size: $fz;
  font-weight: $fw;
  color: $color;
}

@mixin bg-img($bg-rpeat, $bg-p, $bg-size) {
  background-repeat: $bg-rpeat;
  background-position: $bg-p;
  background-size: $bg-size;
}

// Chỉ cần @include button(điền theo trình tự tham số truyền vào nhe anh )
@mixin button(
  $fz,
  $fw,
  $color,
  $bg,
  $pd,
  $bd,
  $rouned,
  $color-hover,
  $bg-hover
) {
  @include text($fz, $fw, $color);
  background: $bg;
  padding: $pd;
  border: $bd;
  border-radius: $rouned;
  cursor: pointer;

  &:hover {
    color: $color-hover;
    background: $bg-hover;
  }
}

.a {
  text-decoration: none;
  color: $text-c2-black;
  font-weight: $fw-6;
  font-size: $text-xl;
  border-bottom: 2px solid $bg-c1-primary;
  transition: 0.3s ease-in-out;
  margin-top: 15px;
  display: inline-block;
  text-transform: capitalize;

  &:hover {
    color: $text-c2-primary;
  }
}
.over-box {
  padding: 20px 40px;
}
// @media screen and (min-width: 600px) and (max-width: 1100px) {
//   .connect__us {
//     display: none;
//   }
// }

// Kết thúc khai báo
@media (max-width: 992px) {
  #w3lDemoBar.w3l-demo-bar a.desktop-mode {
    display: none;
  }
}
@media (max-width: 767px) {
  #w3lDemoBar.w3l-demo-bar a.tablet-mode {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-c1-white;
}

header {
  .navbar {
    position: fixed;
    top: 20px;
    left: 0%;
    width: 100%;
    z-index: 990;
    border-radius: 2px;
    box-shadow: 2px 2px 3px 2px;
    outline: none;

    // margin: 100px auto;
    .navbar-brand {
      display: inline-block;
      @include text($text-3xl, $fw-6, $text-c2-primary);
      height: 50px;
      line-height: 40px;
    }
    button.navbar-toggler {
      border: 2px solid sandybrown;
      background-color: $bg-c1-primary;
      span.fa {
        color: #fff;
        line-height: 34px;
        border-radius: 5px;
      }
    }

    .collapse {
      ul.list {
        text-align: center;
        li.item {
          padding: 0 13px;
          a {
            font-size: $text-xl;
            font-weight: $fw-6;
            text-transform: capitalize;
            transition: all 0.5s ease;
            padding: 14px 0;
            position: relative;
            color: #000;
            &::before {
              position: absolute;
              content: "";
              background: $text-c2-primary;
              width: 0px;
              height: 3px;
              bottom: 13px;
              transition: all 0.5s;
            }
          }
          a:hover {
            color: $text-c2-primary;
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

section.carosel {
  .animation {
    .banner {
      position: relative;

      img {
        width: 100%;
        height: 550px;
        object-fit: cover;
      }
    }

    .content {
      position: absolute;
      top: 40%;
      left: 20%;

      h1 {
        @include text($text-6xl, $fw-6, $bg-c1-white);
        line-height: 62px;
      }

      p {
        @include text($text-2xl, $fw-4, $bg-c1-white);
      }

      a:nth-of-type(1) {
        @include text($text-l, $fw-4, $text-c2-primary);
        background-color: $bg-c1-white;
        padding: 10px 30px;
      }

      a:nth-of-type(2) {
        @include text($text-l, $fw-4, $text-c2-light);
        background-color: transparent;
        border: 2px solid $bg-c1-white;
        padding: 10px 30px;
        transition: all 0.5s;
      }

      a:hover {
        background-color: $bg-c1-white;
        color: $bg-c1-primary;
      }
    }
  }
}

.service {
  padding-top: 120px;
  .container {
    .content {
      text-align: center;
      padding-bottom: 100px;

      h1:nth-of-type(1) {
        @include text($text-3xl, $fw-3, $text-c2-red);
      }

      h1:nth-of-type(2) {
        @include text($text-4xl, $fw-6, $text-c2-black);
      }

      p {
        @include text($text-xl, $fw-4, $text-c2-grey);
      }

      a {
        @extend .a;
      }
    }
  }
}

section.service__content {
  background-color: $bg-c1-purple;
  padding: 10px 20px;

  .service__item {
    padding-top: 50px;

    .item {
      .area-box {
        padding: 40px 30px;
        transition: all 0.5s ease 0s;
        border-radius: 10px;
        background-color: $bg-c1-white;
        position: relative;
        margin-bottom: 30px;

        i {
          color: $bg-c1-primary;
          font-size: $text-3xl;
          padding-bottom: 20px;
        }

        &:hover {
          background-color: $bg-c1-purple;
        }

        h1 {
          @include text($text-3xl, $fw-6, $text-c2-black);
        }

        a {
          @extend .a;
        }
      }
    }
  }
}

.connect__us {
  padding: 70px 50px 0px 50px;

  .connect__pic {
    padding-right: 0;
    img {
      border-radius: 10px;
      width: 100%;
      height: 85%;
      object-fit: cover;
    }
  }

  .connect__title {
    h1:nth-of-type(1) {
      @include text($text-2xl, $fw-4, $text-c2-red);
    }

    h1:nth-of-type(2) {
      @include text($text-5xl, $fw-6, $text-c2-black);
    }

    p {
      color: $text-c2-grey;
    }

    .content-title {
      .item {
        padding: 15px 0;
        align-items: center;

        i {
          font-size: $text-s;
          color: $text-c2-primary;
          padding: 0 20px;
        }

        h3 {
          @include text($text-l, $fw-6, $text-c2-black);
        }
      }
    }
  }
}

section.about-us {
  text-align: center;
  background-color: $bg-c1-primary;

  .stats_info {
    p {
      @include text($text-5xl, $fw-6, $text-c2-light);
    }

    h1 {
      @include text($text-2xl, $fw-6, $text-c2-light);
    }
  }
}
// Packapage
section.Packages {
  padding: 100px 50px;
  background-color: $bg-c1-purple;
  .title {
    padding: 40px 0px;
    text-align: center;
    margin-bottom: 80px;
    h1 {
      @include text($text-3xl, $fw-6, $text-c2-red);
    }
    h3 {
      @include text($text-4xl, $fw-6, $text-c2-black);
    }
  }

  .content {
    background-color: #fff;
    .item {
      margin-bottom: 50px;
      text-align: center;
      .over-box {
        h1 {
          padding-top: 30px;
        }
        h1:nth-of-type(1) {
          @include text($text-25xl, $fw-6, $text-c2-black);
        }
        h1:nth-of-type(2) {
          font-size: 20px;
          color: gray;

          span {
            sup {
              color: $text-c2-primary;
              font-size: 30px;
            }
            color: $text-c2-primary;
            font-size: 40px;
            font-weight: bold;
          }
        }
        p {
          @include text($text-xl, $fw-4, $text-c2-grey);
        }
        button.btn {
          color: #fff;
          background-color: $bg-c1-primary;
          padding: 15px 40px;
          transition: all 0.5s;
          &:hover {
            color: #000;
            background-color: white;
            border: 2px solid $bg-c1-primary;
          }
        }
      }
    }
    .item-2 {
      margin-bottom: 50px;

      text-align: center;
      transform: scale(1.3);
      .over-box {
        margin: 0 10px;
        .sale {
          display: inline-block;
          width: 100%;
          padding: 20px 20px;
          border-radius: 10px;
          background-color: $bg-c1-primary;
          margin-bottom: 30px;
          .bg-sale {
            h3 {
              background-color: #fff;
              display: inline-block;
              border-radius: 10px;
              padding: 10px 40px;
              @include text($text-l, $fw-6, $text-c2-primary);
            }
          }
          h1:nth-of-type(1) {
            padding-top: 10px;
            @include text($text-2xl, $fw-4, $text-c2-light);
          }
          h1:nth-of-type(2) {
            font-size: 20px;
            color: white;

            span {
              sup {
                color: $text-c2-light;
                font-size: 30px;
              }
              color: $text-c2-light;
              font-size: 40px;
              font-weight: bold;
            }
          }
        }
        button.btn {
          color: #fff;
          background-color: $bg-c1-primary;
          padding: 15px 40px;
          transition: all 0.5s;
          &:hover {
            color: #000;
            background-color: white;
            border: 2px solid $bg-c1-primary;
          }
        }
      }
    }
  }
}
// W3L-INDEX-5
section.w3l-index5 {
  .new-block {
    .middle-section {
      .section-width {
        h6 {
          text-transform: uppercase;
          line-height: 2em;
          letter-spacing: 1px;
          @include text($text-xl, $fw-4, $text-c2-red);
        }
        h3 {
          @include text($text-4xl, $fw-6, $text-c2-black);
          text-transform: capitalize;
        }
      }
    }
  }
}

// W3L-CLIENT
section.w3l-clients {
  .cusrtomer-layout {
    .heading {
      h6 {
        text-transform: uppercase;
        line-height: 2em;
        letter-spacing: 1px;
        @include text($text-xl, $fw-4, $text-c2-red);
      }
      h3 {
        @include text($text-4xl, $fw-6, $text-c2-black);
        text-transform: capitalize;
      }
    }
    .testimonial__content {
      overflow: hidden;
      min-height: 300px;
      .testimonial__thumbs {
        width: 300px;
        margin: auto;
        box-sizing: border-box;
        height: 170px;
        position: relative;
        overflow: hidden;
        &::after,
        &::before {
          content: "";
          width: 30px;
          position: absolute;
          top: 0;
          height: 100%;
          z-index: 2;
          right: 0;
          background: linear-gradient(
            to left,
            #fff 0,
            rgba(255, 255, 255, 0) 100%
          );
        }

        .swiper-slide {
          .testimonial__pic {
            padding: 30px 0 0;
            transition: all 0.5s;
            &::after,
            &::before {
              content: "";
              background-color: #f55f8d;
              border-radius: 50px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              opacity: 1;
            }
            &::before {
              height: 15px;
              width: 15px;
              bottom: 30px;
            }
            &::after {
              height: 10px;
              width: 10px;
              bottom: 0;
            }
            img {
              width: 80px;
              height: 80px;
              border-radius: 100%;
              padding: 5px;
              position: relative;
              z-index: 2;
              background-color: #f55f8d;
            }
            .shape-bx {
              position: relative;
              height: 35px;
              width: 50px;
              left: 50%;
              transform: translateX(-50%);
              bottom: 18px;
              opacity: 0;
              transition: all 1s;
              background-color: #f55f8d;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background-image: url(../img/pattern12.png);
                background-position: bottom;
                background-size: contain;
                height: 100%;
                width: 100%;
                transition: all 1s;
              }
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .testimonial-comment {
      min-height: 300px;
      width: 100%;
      overflow: hidden;
      .swiper-wrapper {
        padding-bottom: 20px;
        .testimonial__text {
          padding: 30px;
          text-align: center;
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          margin: 0 auto;
          border-radius: 10px;
          background-color: #fff;
          max-width: 770px;
          position: relative;
          i {
            position: absolute;
            top: 10px;
            left: 30px;
            font-size: 70px;
            color: #f55f8d;
            transform: rotate(-180deg);
          }
          p {
            font-size: 18px;
            font-weight: 400;
            font-style: italic;
            padding: 0 15px 15px;
          }
          h3 {
            font-size: 22px;
            font-weight: 800;
            color: #000;
            line-height: 26px;
            margin-bottom: 5px;
          }
          .testimonial__position {
            font-size: 15px;
            color: #f55f8d;
            margin-bottom: 20px;
            padding: 0;
          }
        }
      }
    }
  }
}
// Home bottom
section.w3l-bottom {
  .subscribe {
    max-width: 650px;
    .header-section {
      h3 {
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        text-transform: capitalize;
      }
    }
    .subscribe-wthree-field {
      input {
        margin-right: 10px;
        font-size: 16px;
        border-radius: 10px;
        padding: 0px 20px;
        flex-basis: 70%;
        background: #fff;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
      }
      button {
        flex-basis: 27%;
        background-color: $bg-c1-primary;
        transition: all 0.5s linear;
        &:hover {
          color: #000;
          background-color: transparent;
          border: 2px solid $bg-c1-primary;
        }
      }
    }
  }
}
// SERVICE PAGE
section.w3l-about-breadcrumb {
  margin-top: 90px;
  background: url(../img/banner4.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 1em 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: 0.6;
  }

  .breadcrumb-bg {
    .title {
      text-align: center;
      @include text($text-5xl, $fw-6, $text-c2-light);
    }
    .breadcrumbs-custom-path {
      li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 1.2em;
        line-height: 1.5;
        font-weight: 400;
        text-transform: capitalize;
        color: #fff;
        &:nth-of-type(1) {
          a {
            color: $text-c2-primary;
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            &:hover {
              color: $text-c2-light;
            }
          }
        }
        &:nth-of-type(2) {
          span.fa {
            font-size: 15px;
            font-weight: $fw-6;
            vertical-align: 2px;
          }
        }
      }
    }
  }
}

section.w3l-content-6 {
  .content-6-mian {
    .content-info-in {
      align-items: center;
      .content-gd:nth-of-type(1) {
        .title-content {
          .sub-title {
            @include text($text-2xl, $fw-4, $text-c2-red);
          }
          .hny-title {
            @include text($text-4xl, $fw-6, $text-c2-black);
            line-height: 48px;
            text-transform: capitalize;
          }
        }
      }
      .content-gd:nth-of-type(2) {
        p {
          font-size: 20px;
          line-height: 40px;
          color: $text-c2-grey;
          font-weight: $fw-4;
        }
        a {
          text-decoration: none;
          font-size: 17px;
          padding: 0;
          border-bottom: 2px solid $bg-c1-primary;
          color: $text-c2-black;
          transition: 0.3s ease-in-out;
          font-weight: 600;
          border-radius: 0;
          margin-top: 20px;
          display: inline-block;
          text-transform: capitalize;
          &:hover {
            color: $text-c2-primary;
          }
        }
      }
    }
    h4 {
      font-size: 22px;
      line-height: 32px;
      font-weight: 600;
      opacity: 0.9;
    }
  }
}

section.w3l-feature-1 {
  .feature-1sec {
    background: url(../img/banner2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    &::before {
      content: "";
      background-color: rgba(0, 4, 8, 0.69);
      position: absolute;
      top: 0;
      min-height: 100%;
      left: 0;
      right: 0;
      z-index: -3;
    }
    .feature-1-content {
      margin-left: auto;
      max-width: 640px;
      text-align: left;
      .sub-title {
        @include text($text-25xl, $fw-4, $text-c2-red);
      }
      h3.hny-title.two {
        color: #fff;
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        text-transform: capitalize;
      }
      p {
        color: #fff;
        opacity: 0.7;
      }
    }
  }
  .history-grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 40px;
    .history-ifo {
      .year {
        @include text($text-25xl, $fw-6, $text-c2-light);
      }
    }
  }
}

section.w3l-content-4 {
  .content-4-main {
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .content-left {
        padding-bottom: 30px;
        h6 {
          margin: 0px 0 6px 0;
        }
        .sub-title {
          @include text($text-25xl, $fw-4, $text-c2-red);
          letter-spacing: 1px;
          line-height: 2em;
        }
        .hny-title {
          font-size: 40px;
          font-weight: bold;
          line-height: 48px;
          text-transform: capitalize;
        }
        img {
          border-radius: 5px;
        }
      }
      .content-right {
        .row {
          display: flex;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
          .col-md-2 {
            .content4-icon {
              color: $text-c2-primary;
              font-size: 44px;
              text-align: center;
              span.fa {
                margin-top: 4px;
                vertical-align: super;
              }
            }
          }
          .col-md-10 {
            padding-left: 0;
            h6 {
              margin: 0px 0px 6px 0px;
              a {
                text-decoration: none;
                @include text($text-25xl, $fw-6, $text-c2-black);
                font-weight: bold;
                transition: all 0.5s;
                &:hover {
                  color: $text-c2-primary;
                }
              }
            }
            p {
              color: $text-c2-grey;
            }
          }
        }
      }
    }
  }
}

section.w3l-team-main {
  .team {
    .title-content {
      .sub-title {
        @include text($text-2xl, $fw-4, $text-c2-red);
      }
      .hny-title {
        @include text($text-4xl, $fw-6, $text-c2-black);
        line-height: 48px;
        text-transform: capitalize;
      }
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .team-wrap {
        margin-bottom: 44px;
        .team-info {
          &:hover {
            a {
              color: $bg-c1-primary !important;
              img {
                transform: scale(1.1);
                transition: transform 0.3s linear;
                border-radius: 6px;
              }
            }
          }
          .column {
            overflow: hidden;
            a {
              text-decoration: none;
              color: $text-c2-black;
              font-weight: $fw-6;
              font-size: $text-25xl;
              transition: 0.5s ease-in-out;
              margin-top: 10px;
              img {
                padding-bottom: 30px;
                display: block;
                transition: transform 0.3s linear;
              }
            }
          }
          .column2 {
            h3 {
              a {
                text-decoration: none;
                color: $text-c2-black;
                font-weight: $fw-6;
                font-size: $text-25xl;
                transition: 0.3s ease-in-out;
              }
            }
            .social {
              .social-left {
                a {
                  text-decoration: none;
                  display: inline-block;
                  margin-right: 6px;
                  width: 30px;
                  height: 30px;
                  border-radius: 4px;
                  line-height: 30px;
                  text-align: center;
                  background: rgb(147 107 232 / 5%);
                  color: $text-c2-primary;
                  i {
                    font-size: 20px;
                    line-height: 30px;
                    display: block;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                      color: blueviolet;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
footer.footer-28 {
  background: #111;
  .footer-bg-layer {
    .container {
      .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        .col-lg-6.col-md-5 {
          h6 {
            color: #fff;
            font-size: 20px;
            line-height: 26px;
            font-weight: 600;
            margin-bottom: 25px;
          }
          ul {
            padding-left: 0;
            li {
              list-style: none;
              margin-bottom: 5px;
              p {
                font-weight: normal;
                font-size: 16px;
                color: $text-c2-grey;
                line-height: 28px;
              }
            }
            li:nth-of-type(2),
            li:nth-of-type(3) {
              p {
                a {
                  color: $text-c2-grey;
                  transition: all 0.3s;

                  text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                    color: $text-c2-light;
                  }
                }
              }
            }
          }
          .main-social-footer-28 ul {
            margin-top: 3px;
            padding: 0;
            list-style: none;
            overflow: hidden;
            a {
              padding-right: 20px;

              color: $text-c2-grey;
              transition: all 0.3s;

              text-decoration: none;
              &:hover {
                text-decoration: underline;
                color: $text-c2-light;
              }
            }
          }
        }
        .col-lg-6.col-md-7 {
          h6 {
            color: #fff;
            font-size: 20px;
            line-height: 26px;
            font-weight: 600;
            margin-bottom: 25px;
          }
          ul {
            padding-left: 0;
            li {
              line-height: 35px;
              list-style: none;
              margin-bottom: 5px;
              a {
                color: $text-c2-grey;
                transition: all 0.3s;

                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                  color: $text-c2-light;
                }
              }
            }
          }
        }
      }
    }
    .midd-footer-28 {
      background: #111;
      border-top: 1px solid rgba(103, 99, 99, 0.14);
      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: $text-c2-grey;
        margin-bottom: 0;
        a {
          color: #f53626;
          &:hover {
            color: $text-c2-light;
          }
        }
      }
    }
  }
}

// Services
.content-photo-info {
  .content-photo-grids {
    border-bottom: 1px solid #f0f3f0;
    margin-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    .photo-6-inf-left {
      padding-right: 30px;
      a:hover {
        display: block;
        overflow: hidden;
        img {
          transform: scale(1.1);
          transition: all 0.5s ease-in-out;
        }
      }
    }
    .photo-6-inf-right {
      h6 {
        text-transform: uppercase;
        line-height: 2em;
        letter-spacing: 1px;
        @include text($text-xl, $fw-4, $text-c2-red);
      }
      h3 {
        @include text($text-4xl, $fw-6, $text-c2-black);
        text-transform: capitalize;
      }
      p {
        @include text($text-2xl, $fw-4, $text-c2-grey);
      }
      a {
        text-decoration: none;
        @include text($text-xl, $fw-6, $text-c2-black);
        transition: all 0.5s;
        border-bottom: 2px solid $text-c2-primary;
        &:hover {
          color: $text-c2-primary;
          font-weight: $fw-6;
        }
      }
    }
  }
}

// Gallery
.header-section {
  h6 {
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    @include text($text-xl, $fw-4, $text-c2-red);
  }
  h3 {
    @include text($text-4xl, $fw-6, $text-c2-black);
    text-transform: capitalize;
  }
}
.galler-top {
  .protfolio-item {
    a {
      display: block;
      figure {
        position: relative;
        margin: 0px;
        overflow: hidden;
        &:hover {
          &::before {
            animation: coverImg 0.75s;
          }
        }
        &::before {
          position: absolute;
          top: 0;
          left: -100%;
          z-index: 2;
          display: block;
          content: "";
          width: 50%;
          height: 100%;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%
          );
          transform: skewX(-25deg);
        }
        @keyframes coverImg {
          100% {
            left: 100%;
          }
        }
      }
    }
  }
}
// Contact
.w3l-contact-1 {
  .contacts-9 {
    h5 {
      text-transform: uppercase;
      line-height: 2em;
      letter-spacing: 1px;
      @include text($text-xl, $fw-4, $text-c2-red);
    }
    h3 {
      @include text($text-4xl, $fw-6, $text-c2-black);
      text-transform: capitalize;
    }
    .pb-lg-4 {
      .contact-viewhny {
        grid-template-columns: 2fr 1fr;
        grid-gap: 40px;
        .map-content-9 {
          form {
            .twice-two {
              display: grid;
              grid-gap: 20px;
              grid-template-columns: 1fr 1fr;
              margin-bottom: 20px;
              input {
                outline: none;
                width: 100%;
                font-size: 16px;
                color: #252b33;
                padding: 0px 16px;
                border: 1px solid $bg-c1-purple;
                background: $bg-c1-purple;
                border-radius: 6px;
                height: 55px;
              }
            }
            .twice {
              input {
                outline: none;
                width: 100%;
                font-size: 16px;
                color: #252b33;
                padding: 0px 16px;
                border: 1px solid $bg-c1-purple;
                background: $bg-c1-purple;
                border-radius: 6px;
                height: 55px;
              }
            }
            textarea {
              resize: none;
              margin-top: 25px;
              outline: none;
              width: 100%;
              font-size: 16px;
              color: #252b33;
              padding: 0px 16px;
              border: 1px solid $bg-c1-purple;
              background: $bg-c1-purple;
              border-radius: 6px;
              height: 120px;
            }
            button {
              float: right;
              padding: 12px 35px;
              background-color: $bg-c1-primary;
              font-size: 18px;
              line-height: 28px;
              text-transform: capitalize;
              font-weight: 400;
              transition: 0.5s ease-in;
              border-radius: 10px;
              &:hover {
                background-color: #127635;
              }
            }
          }
        }
        .cont-detailshnyf {
          .cont-tophny {
            display: grid;
            grid-template-columns: 20px auto;
            grid-column-gap: 20px;
            .cont-left {
              span {
                font-size: 22px;
                display: block;
                margin-top: 3px;
              }
            }
            .cont-right {
              h6 {
                line-height: 26px;
                margin-bottom: 10px;
                @include text($text-2xl, $fw-6, $text-c2-black);
              }
              p {
                a {
                  color: $text-c2-grey;
                  transition: all 0.3s;

                  text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                    color: $text-c2-primary;
                  }
                }
              }
            }
          }
        }
      }
    }
    .map-iframe {
      iframe {
        display: block;
        border-radius: 10px 10px 0px 0px;
        pointer-events: none;
        width: 100% !important;
        height: 400px !important;
      }
    }
  }
}
